body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dashICR {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dashFacOnline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dashFacElec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.error-list {
    list-style: none;
    padding: 0;
}
.error-list li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.error-listICR2 {
    list-style: none;
    padding: 0;
}
.error-listICR2 li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.critical {
    background-color: #ee2d24;
    color: white;
}
.warning {
    background-color: #ffcc00;
    color: black;
}
.info {
    background-color: #4da6ff;
    color: white;
}

.clock {
    font-size: 3rem;
    font-weight: bold;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 350px; 
    height: auto;
    margin-right: auto;
    padding: 0;
    display: inline-block;
   
  }

.logoInd {
    position: relative;
    display: flex;
}
 
  
.horaLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.cred {
    background-color: lightgray;
    color: black;
}

.elec {
    background-color: lightgray;
    color: black;
}